{% extends 'BioPublicBundle::base.html.twig' %}

{% set title = 'Oops'%}

{% block header %}
    {{parent()}}

    <div class="login">
        <a href="{{ path('main_admin_page') }}">Login</a>
    </div>

{% endblock %}

{% block basecontent %}
    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

    <div>
        Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.
    </div>
{% endblock %}