<p>This is a reminder that you have {{global.evalDue}} days from the end of a field trip to evaluate it. Late evaluations lose 5 points. Failing to complete your evaluations by {{global.closing|date('m-d-Y h:i a')}} will result in an incomplete for the course.</p>

<p>Our records show that you not completed all your evaluations. Email Celese Spencer, Field Trip Coordinator, at <a href="mailto:celese@uw.edu">celese@uw.edu</a> if you think there has been an error.</p>

<p>You can <b>sign in</b> and evaluate your field trip(s) <a href="{{ url('trip_entrance') }}">here</a>. All the trips you've attended will appear at the top of the page. If the link does not work copy and paste this url into your web browser.</p> 

<blockquote><i><a>{{ url('trip_entrance') }}</a></i></blockquote>