<p>Hi {{student.fName}}, another student would like to switch sections with you. If you confirm their request, an email will be sent to both of you with each other's contact information. If you decline it, then you will have an opportunity to find a different match. Keep in mind that if you do nothing, you <i>might</i> not be matched with any more students.</p>

<p>You can sign in and confirm or deny the switch <a href="{{ url('request_switch') }}">here</a>. If the link does not work copy and paste this url into your web browser.</p> 

<blockquote><i><a>{{ url('request_switch') }}</a></i></blockquote>