{% extends 'BioPublicBundle::main.html.twig' %}

{% block content %}
	<p>The other student has not yet confirmed this match. You will receive an email when they have made their decision. You can cancel your request at any time by clicking this <a href="?decline">link.</a></p>
{% endblock %}