{% extends 'BioSwitchBundle:Default:main.html.twig' %}

{% block content %}
	<p>The person you are attempting to pair with must confirm the match before you can contact them. If you want to abort your request and go back click <a href="?decline">here.</a>.
	{{parent()}}
{% endblock %}