.form_layer {
	position: fixed;
	display:none;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(0,0,0, .3);
	cursor: pointer;
	text-align:center;
	z-index:10;
}

.form_layer.shown {
	display: block;
}

.form_exit {
	position: absolute;
	background: white;
	display: block;
	width: 70px;
	height: 35px;
	border-radius: 0px 0px 25px 25px;
	bottom: -35px;
	right: 0px;
	cursor: pointer;
}

.form_container:after {
	content: 'Add Exam';
	display: block;
	position: absolute;
	top: -40px;
	left: 0px;
	background: white;
	z-index: -1;
	padding: 10px;
	border-radius: 25px 25px 0px 0px;
	font-size: 15pt;
}

.form_container {
	margin: 100px auto auto auto;
	border-radius: 0px 25px 0px 25px;
	background-color: white;
	cursor: default;
	text-align:left;
	display: inline-block;
	max-height: 400px;
	min-width: 350px;
	position:relative;

	padding: 0px 20px;
}

.form_scroller {
	padding: 20px 0px;
	max-height: 360px; /* form_container max-height - (2 * vertical padding) */
	overflow-y: scroll;
}

.form_title {
	text-align: center;
	margin-top: -20px;
	margin-bottom: 20px;
}

.link.add {
	text-align: center !important;
}

.lonely {
	text-align: center;
}

.noscroll {
	overflow:hidden;
}