/***** BORDER STUFF ******/ 
#content > table td, .tableStyle table td, #content > table th, .tableStyle table th, .border {
	border-bottom-style: solid;
	border-color: #A591D9;
	border-bottom-width: 1px;
}
#content > table th, .tableStyle table th {
	border-bottom-width: 3px;
}

/******** EVERYTHING ELSE ********/
#form > div, #global > div{
	margin: 10px;
}

#form > div label, #global > div label{
	display:block;
	float: left;
	width: 100px;
	text-align: right;
	padding-right: 15px;
}

#form > div:last-of-type, #global > div:last-of-type {
	margin-left: 200px;
}

#content table, .tableStyle table {
	border-spacing: 0px;
	width: 95%;
	clear:both;
}

#content > table th, #content > table td , .tableStyle table th, .tableStyle table td{
	padding: 7px 15px;
	text-align: left;
}

/* no border on last td */
#content > table tr:last-child td, .tableStyle table tr:last-child td {
	border-bottom: none;
}

button {
	padding: 3px;
}

.datetime {
	padding-left: 115px; /*equal to the width + the padding-right of the label*/
}

#form textarea, #global textarea{
	width: 40%;
	height: 100px;
	padding: 10px;
	resize: vertical;
}

.dropzone {
	position:absolute !important;
	width: 100% !important;
	height: 100% !important;
	top: 0px !important;
	left: 0px !important;
	background-color: rgba(0,0,0,0) !important;
	border: dashed 3px rgba(100, 100, 240, .5) !important;
	display:none;
}