/******** BACKGROUND COLORS ********/
body { background-color: #3f3f3f; }  					/* side filler */
#container { background-color: white; } 				/* main background */
#header, #footer { background-color: #3d2480; }			/* header footer */
.login > a, .login .menu { background-color: #331b6f; }	/* login button/dropdown */
.success { background-color: rgba(0, 120, 0, .95); }	/* error/success */
.failure { background-color: rgba(120, 0, 0, .95); }

/******** TEXT COLORS ********/
#course { color: rgb(245, 245, 245); } 					/* course name in header */
.login { color: white; } 								/*login button/dropdown */
#center { color: black; }								/* content text */
#center h1 { color: rgb(81,95, 24); }					/* titles */
#center h2 { color: rgb(72, 57, 130); }
#center h3 { color: inherit; }
#header, #footer { color: #f3f1c6; }					/* header and footer (unused) */
.branch a { color: #d0c0aa; } 							/* sidebar parent */
.leaf a { color: rgb(108, 99, 87); } 					/*  sidebar child */
.success, .failure { color:rgb(200,200,200); }			/* error/success message */

/******** IMAGES ********/
#logo {													/* left most */
	width: 434px;
	height: 96px;
	background-image: url(http://www.biology.washington.edu/sites/all/themes/clean/bioStyleC2Images/not-front-bio.png);
	left: 41px;
	top: 31px;
}
#w {													/* golden W   */
	background-image: url(../images/w.png);
	right: 48px;
	top: 0px;
	width: 53px;
	height: 56px;
}
#wLogo {												/* university of washington */
	top: 31px;
	right: 117px;
	height: 14px;
	width: 204px;
	background-image: url(http://www.biology.washington.edu/sites/all/themes/clean/bioStyleC2Images/uw-text.png);
}
.image {
	display:block;
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
}

/******** BORDERS ********/
.login > a, .menu li { 									/* login button/dropdown */
	border-color: #4c3782; 
	border-style: solid;
	border-width: 1px;
}

/******* EVERYTHING ELSE *******/

/*
          ______________
       ,===:'.,            `-._
            `:.`---.__         `-._
              `:.     `--.         `.
                \.        `.         `.
        (,,(,    \.         `.   ____,-`.,
     (,'     `/   \.   ,--.___`.'
 ,  ,'  ,--.  `,   \.;'         `
  `{D, {    \  :    \;
    V,,'    /  /    //
    j;;    /  ,' ,-//.    ,---.      ,
    \;'   /  ,' /  _  \  /  _  \   ,'/
          \   `'  / \  `'  / \  `.' /
           `.___,'   `.__,'   `.__,' 

         here there be dragons
 */

* {
	margin:0px;
	padding:0px;
}

.success, .failure {
	display: block;
	width: 100%;
	padding: 15px;
	padding-top: 30px;
	font-size: 15pt;
	text-align: center;
	position: fixed;
	top: -15px;
	left: 0px;
	z-index:10;
	cursor:n-resize;
	-webkit-user-select:none;
	-user-select:none;
}

body {
	font-family: "Trebuchet MS";
}

#container {
	width: 1024px;
	margin: 0 auto;
}

#page {
	width: 950px;
	margin: 0 auto;
}

#left {
	padding-left: 5px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-right: 20px;
	clear: left;
	float: left;
	width: 185px;
	font-size: .9em;
	line-height: 1.5;
}

.content {
	margin-bottom: 1em;
}

	.content ul {
		list-style: none;
	}

	.content .trunk {
		margin: 30px 0 0 0;
		position: relative;
		left: -20px;
	}

	.trunk .branch {
		margin-bottom: 9px;
	}

		.branch a {
			font-size: 14px;
			line-height: 20px;
			padding-left: 20px;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
		}

	.trunk .branch {
		background-image: none;
		display: block;
	}

		.branch .twig {
			margin-top: 8px;
			margin-bottom: 16px;
			position: relative;
			display: block;
			left: 8px !important;
		}

			.twig .leaf {
				margin: 4px !important;
				padding: 0px !important;
			}

				.leaf a {
					text-transform: none;
					font-weight: normal;
					font-style: normal;
					font-size: .9em !important;
					text-indent: -5px;
					display: block;
					text-decoration: none;
					line-height: 13px;
				}

#center {
	font-size: 13px;
	line-height: 22px;
	width: 710px;
	float:left;
	margin-bottom: 1em;
}
	#center h1 {
		font-size: 24px;
		margin-bottom: 18px;
		line-height: 28.8px;
		margin-top: 38px;
	}

	#center h2 {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 18px;
		margin-top: 18px;
	}

	#center p {
		margin-bottom: 1.5em;
		font-size: 13px;
		line-height: 22px;
	}

	#logout {
		text-align:center;
		margin-top: 25px;
	}

	#center ul, #center ol {
		margin-left: 20px;
	}

#header {
	width: 1024px;
	height: 154px;
	position:relative;
	left: -37px;
}

	#course {
		position: absolute;
		top: 87px;
		left: 263px;
		font-size: 20pt;
		width: 550px;
	}

		#course a {
			color: inherit;
			text-decoration: inherit;
		}

	.login {
		position: absolute;
		bottom: 19px;
		right: 184px;
		text-decoration: none;
		text-transform: uppercase;
		font: 11px "Trebuchet MS" !important;
		letter-spacing: 1px;
		z-index: 10000
	}

		.login > a {
			padding: 6px 12px;
			display:block;
			height: 12px;
			position:absolute;
			top: -8px;
		}

		.login a {
			color: inherit;
			text-decoration:inherit;
		}

		.login .menu {
			position: absolute;
			top: 18px;
			width: 150px;
			display:none;
		}

		.login:hover .menu {
			display:block;
		}
			.login .menu ul {
				list-style: none;
			}	
				.menu li {
					padding: 8px 12px;
					word-wrap: break-word;
				}

#footer {
	text-transform: uppercase;
	clear: both;
	padding: 1.5em 0 1em 0;
}