.row {
	background-image: url(http://www.uwecocar2.com/images/divider.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 1px;
	padding: 1px 0px 0px 20px;
	display: inline-block;
	width: 100%;
}

.masonry {
	-moz-column-count: 2;
	-webkit-column-count:2;
	column-count:2;
}

.masonry h2 {
	margin-bottom: 5px !important;
	margin-top: 5px !important;
}

.masonry  ul {
	margin-left: 20px;
	list-style: none;
	margin-bottom: 15px;
}

.masonry ul ul {
	list-style: circle
}