# Bootstrap
app/bootstrap*

# Symfony directories
web/bundles/
vendor/
spool

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

.DS_Store
composer.phar
*.php~

app/config/routing.yml
app/config/sidebar.yml

# Assetic dump files
web/css/*
web/js/*
web/images/*

# Testing Files
tests/_log/*