# Bootstrap
app/bootstrap*

# Symfony directories
web/bundles/
web/files/*
app/cache/*
app/logs/*
vendor/

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

.DS_Store
composer.phar
*.php~

app/config/routing.yml
