{% extends 'BioPublicBundle:Template:singleForm.html.twig' %}

{% block content %}
	<p> Are you sure you want to delete all clicker registrations? </br> This <b>cannot</b> be undone.</p>
	{{ form(form) }}
{% endblock %}