parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    site_name:         Bio 999
    sidebar: 
        "Course Info":
            "Course Info":
                route: info_instruct
                vars: ~
            "Edit Info":
                route: edit_info
                vars: ~
            "Announcements":
                route: view
                vars:
                    entityName: announcement
            "Links":
                route: view
                vars:
                    entityName: link
            "Instructors":
                route: view
                vars:
                    entityName: person
            "Hours":
                route: view
                vars:
                    entityName: hours
            "Sections":
                route: view
                vars:
                    entityName: section

        "Students":
            "Students":
                route: display_students
                vars: ~
            "Display":
                route: display_students
                vars: ~
            "Find":
                route: find_student
                vars: ~
            "Add":
                route: add_student
                vars: ~
            "Upload":
                route: upload_student
                vars: ~

        "Clickers":
            "Clickers":
                route: register_clicker
                vars: ~
            "Register":
                route: register_clicker
                vars: ~
            "Download":
                route: download_list
                vars: ~
            "Clear":
                route: clear_list
                vars: ~

        "Scores":
            "Scores":
                route: scores
                vars: ~
            "Find Scores":
                route: find_score
                vars: ~

        "Folders":
            "Folders":
                route: view_folders
                vars: ~

        "Users":
            "Users":
                route: view_users
                vars: ~
