bio_public:
    resource: "@BioPublicBundle/Controller/"
    type:     annotation
    prefix:   /
login_check:
    pattern:   /check
logout:
    pattern:   /logout
bio_folder:
    resource: "@BioFolderBundle/Controller/"
    type:     annotation
    prefix:   /
bio_data:
    resource: "@BioDataBundle/Controller/"
    type:     annotation
    prefix:   /
