{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h2>Create Survey</h2>
    <form method="POST" class="tableStyle">
        <div id="form">
            <div>
                <label for="form_name" class="required">Survey Name</label>
                <input type="text" id="form_name" name="form[name]" required="required">
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Delete</th>
                    </tr>
                    <tbody id="body">

                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan=2>
                                <table>
                                    <tr>
                                        <td style="text-align:center;"><span id="response">add question</span></td>
                                        <td style="text-align:center;"><span id="multiple">add multiple choice</span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tfoot>
                </thead>
            </table>
        </div>
    </form>

    <h2>Download Surveys</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Questions</th>
            <th>Download</th>
            <th>Delete</th>
        </tr>
        {% for survey in surveys %}
            <tr>
                <td>{{survey.name}}</td>
                <td>0</td>
                <td><a href="">download</a></td>
                <td><a href="">delete</a></td>
            </tr>
        {% else %}
            <tr><td colspan=4 style="text-align:center;">no surveys</td></tr>
        {% endfor %}
    </table>
{% endblock %}

{% block java %}
    <script>
        (function() {
            var body = document.getElementById('body')
                index = 0;

            document.body.addEventListener('click', function(evt) {
                if (evt.target.classList.contains('delete')) {
                    var tr = evt.target.parentElement;
                    tr.parentElement.removeChild(tr);
                }
            });

            document.getElementById('response').onclick = function() {
                body.innerHTML += "\
                    <tr>\
                        <td>\
                            <textarea required='required' name='form["+index+"][]'></textarea>\
                        </td>\
                        <td class='delete'>\
                            delete\
                        </td>\
                    </tr>\
                ";
                index++;
            }

            document.getElementById('multiple').onclick = function() {
                var tr = document.createElement('tr');
                var left = document.createElement('td');
                var right = document.createElement('td');
                right.classList.add('delete');
                right.innerHTML = 'delete';
                var question = document.createElement('textarea');
                question.name="form["+index+"][]";
                var add = document.createElement('a');
                add.innerHTML = 'add';
                left.appendChild(question);
                left.appendChild(add);

                function addOption() {
                    var container = document.createElement('div');
                    var input = document.createElement('input');
                    var del = document.createElement('span');
                    container.appendChild(input);
                    container.appendChild(del);
                    del.classList.add('delete');
                    del.innerHTML = 'remove';
                    input.type = "text";
                    input.name = "form["+index+"][]";

                    left.insertBefore(container, add);
                }

                add.onclick = function() {
                    addOption();
                };

                addOption();

                tr.appendChild(left);
                tr.appendChild(right);

                body.appendChild(tr);
            }
        })();
    </script>
{% endblock %}
