table, th, td {
	border: 1px solid black !important;
}

table {
	margin: 30px 5px 15px 5px !important;
	text-align: center !important;
	background-color: rgba(180, 180, 180, .4) !important;
	border-radius: 5px !important;
	height: 25px !important;
}

table tr td {
	padding: 4px !important;
}

table a {
	font-weight: bolder !important;
	text-decoration: none !important; 
}