.question {
	width: 600px;
	border-radius: 25px;
	box-shadow: 1px 1px 15px rgb(200, 200, 200);
	margin: 10px auto;
	padding: 5px 20px;
}

.question ul, .question ol{
	padding-left: 15px;
}

.question table {
	margin: 5px;
}

.question table, .question td, .question th {
	border: 1px solid black;
}

.question img {
	margin: 10px !important;
}

.a, .q {
	width: 90%;
	clear:both;
}

.score table, .score td, .score th {
	border: none;
}

.q {
	margin: 5px auto;
}

.line {
	width: 100%;
	margin: 20px auto;
	height: 3px;
	background-color:gray;
	clear:both;
}

.a {
	margin: 20px auto 5px auto;
}

	.a textarea {
		padding: 10px;
		width: 100%;
		min-height: 100px;
		border-radius: 5px;
	}

.review {

}

	.review p {
		text-indent: 0px !important;
		margin-left: 60px;
	}

	.review .score {
		float: left;
		width: 60px;
		height: 80px;
	}

#submit {
	text-align:center;
}
	#submit p {
		text-indent: 0px;
	}

	#submit input{
		padding: 10px;
		width: 50px;
	}

#hidden #form div {
	text-align:center;
	padding: 0px;
	margin: 0px;
}

#loader {
	width: 220px;
	height: 19px;
	margin: 0 auto;
}

#signedin {
	margin-top: 15px;
	text-align: center;
}