#form {
	padding-right: 400px;
}

#form div[data-type=choice] {
	margin: 0px;
	display: block;
	float: left;
	position: absolute;
	width: 400px !important;
	overflow: hidden;
	height: 100%;
	padding: 0px;
	top: 0px;
	right: 0px;
}

#form div[data-type=choice] > label {
	display:block;
	font-size: 20pt;
	height: 7%;
}

#form div[data-type=choice] #form_questions {
	height: 93%;
	overflow:scroll;
}

#form_questions label {
	max-height: 70px;
	overflow: hidden;
	line-height: 12pt;
	font-size: 12pt;
	margin-bottom: 17px;
	cursor: pointer;
}

#form_questions .checkbox {
	float: left;
	position: relative;
	top: 30px;
}