.questioncontainer {
	float:right;
	height: 450px;
	width: 400px;
	border: solid 2px white;
	border-radius: 5px;
	box-shadow: 2px 2px 15px;
}
	.questioncontainer #tag, .questioncontainer > label {
		float: left;
		margin: 5px;
		font-size: 12pt;
	}

	.questioncontainer #tag {
		float: right;
		width: 335px;
	}

	.questioncontainer #scroller {
		overflow-y: scroll;
		height: 410px;
		width: 100%;
	}

		#scroller table {
			width: 100%;
			margin: 0px;
		}

.mce-tinymce {
	float: left !important;
	margin-bottom: 10px !important;
}

.dropzone {
	position:absolute !important;
	width: 100% !important;
	height: 100% !important;
	top: 0px !important;
	left: 0px !important;
	background-color: rgba(0,0,0,0) !important;
	border: dashed 3px rgba(100, 100, 240, .5) !important;
	display:none;
}