#form > div {
	margin: 10px;
}

#form > div label {
	display:block;
	float: left;
	width: 100px;
	text-align: right;
	padding-right: 15px;
}

#form > div:last-of-type {
	margin-left: 200px;
}

#content table, .tableStyle table {
	border-spacing: 0px;
	width: 95%;
}

#content > table th, #content > table td , .tableStyle table th, .tableStyle table td{
	padding: 7px 15px;
	text-align: left;
}

#content > table th, .tableStyle table th {
	border-bottom: solid 3px #A591D9;
}

#content > table td, .tableStyle table td {
	border-bottom: solid 1px #A591D9;
}
/* no border on last td */
#content > table tr:last-child td, .tableStyle table tr:last-child td {
	border-bottom: none;
}

#form ul {
	float:right;
	margin-right: 275px;
	color:red;
	font-weight:bolder;
}

button {
	padding: 3px;
}