#form > div, #global > div{
	margin: 10px;
}

#form.side, #global.side {
	
}

#form > div label, #global > div label{
	display:block;
	float: left;
	width: 100px;
	text-align: right;
	padding-right: 15px;
}

#form > div:last-of-type, #global > div:last-of-type {
	margin-left: 200px;
}

#content table, .tableStyle table {
	border-spacing: 0px;
	width: 95%;
}

#content > table th, #content > table td , .tableStyle table th, .tableStyle table td{
	padding: 7px 15px;
	text-align: left;
}

#content > table th, .tableStyle table th {
	border-bottom: solid 3px #A591D9;
}

#content > table td, .tableStyle table td {
	border-bottom: solid 1px #A591D9;
}
/* no border on last td */
#content > table tr:last-child td, .tableStyle table tr:last-child td {
	border-bottom: none;
}

button {
	padding: 3px;
}

.datetime {
	padding-left: 115px; /*equal to the width + the padding-right of the label*/
}

#form textarea, #global textarea{
	width: 40%;
	height: 100px;
	padding: 10px;
	resize: vertical;
}

form div .form_error + * {
	background-color: rgb(256, 200, 200);
}

.form_error {
	float:left;
	height: 0px;
	width: 0px;
}

.form_error div {
	opacity: 0;
	transition: opacity .5s;
	-webkit-transition: opacity .5s; /* Safari */

	font-size: 9pt;
	color: red;
	font-weight: bolder;
	width: 200px;
	position: relative;
	left:100px;
	background-color: white;
	border: solid 1px gray;
	border-radius: 100px;
	padding: 0px 2px;
	text-align:center;
}

form div:hover > label + .form_error div {
	opacity: 1;
}