* {
	margin:0px;
	padding:0px;
}

.success, .failure {
	display: block;
	width: 90%;
	margin: 0 auto;
	border: 2px solid;
	padding: 15px;
	margin: 20px;
	border-radius: 5px;
	font-size: 15pt;
	text-align: center;
}

.success {
	background-color: rgba(0, 256, 0, .1);
	border-color: green;
}

.failure {
	background-color: rgba(256, 0, 0, .1);
	border-color: red;
}

body {
	background-color: #3f3f3f;
	font-family: "Trebuchet MS";
	color: #494949;
}

#container {
	background-color: white;
	width: 1024px;
	margin: 0 auto;
}

#page {
	width: 950px;
	margin: 0 auto;
}

#left {
	padding-left: 5px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-right: 20px;
	clear: left;
	float: left;
	width: 185px;
	font-size: .9em;
	line-height: 1.5;
}

.content {
	margin-bottom: 1em;
}

	.content ul {
		list-style: none;
	}

	.content .trunk {
		margin: 30px 0 0 0;
		position: relative;
		left: -20px;
	}

	.trunk .branch {
		margin-bottom: 9px;
	}

		.branch a {
			color: #d0c0aa;
			font-size: 14px;
			line-height: 20px;
			padding-left: 20px;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
		}

	.trunk .branch {
		background-image: none;
		display: block;
		color: #483882;
	}

		.top a {
			color: #483882;
		}

		.branch .twig {
			margin-top: 8px;
			margin-bottom: 16px;
			position: relative;
			display: block;
			left: 8px !important;
		}

			.twig .leaf {
				margin: 4px !important;
				padding: 0px !important;
			}

				.leaf a {
					color: rgb(108, 99, 87);
					text-transform: none;
					font-weight: normal;
					font-style: normal;
					font-size: .9em !important;
					text-indent: -5px;
					display: block;
					text-decoration: none;
					line-height: 13px;
				}

#center {
	font-size: 13px;
	line-height: 22px;
	color: black;
	width: 710px;
	float:left;
	margin-bottom: 1em;
}
	#center h1 {
		font-size: 24px;
		color: rgb(81,95, 24);
		margin-bottom: 18px;
		line-height: 28.8px;
		margin-top: 38px;
	}

	#center h2 {
		font-size: 16px;
		line-height: 22px;
		color: rgb(72, 57, 130);
		margin-bottom: 18px;
		margin-top: 18px;
	}

	#center p {
		margin-bottom: 1.5em;
		font-size: 13px;
		line-height: 22px;
		color: black;
		text-indent: 30px;
	}

	#logout {
		text-align:center;
		margin-top: 25px;
	}

#header {
	width: 1024px;
	height: 154px;
	background-color: #3d2480;
	position:relative;
	left: -37px;
}

	#logo {
		display: block;
		width: 434px;
		height: 96px;
		background-image: url(http://www.biology.washington.edu/sites/all/themes/clean/bioStyleC2Images/not-front-bio.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		position: relative;
		left: 41px;
		top: 31px;
	}

	#dub {
		top: -119px;
		left: 590px;
		width: 430px;
		height: 80px;
		position: relative;
	}

		#wLogo {
			padding-left: 100px;
			top: 22px;
			position: relative;
			height: 80px;
			width: 300px;
			background-image: url(http://www.biology.washington.edu/sites/all/themes/clean/bioStyleC2Images/uw-text.png);
			background-repeat: no-repeat;
			background-position: 113px 32px;
			overflow: hidden;
		}

		#w {
			background-color: rgb(222, 185, 57);
			left: 333px;
			width: 53px;
			height: 57px;
			position: absolute;
		}

			#w a {
				height: 50px;
				top: 4px;
				display: block;
				width: 50px;
				position: relative;
				background-image: url(http://www.biology.washington.edu/sites/all/themes/clean/bioStyleC2Images/w-front-small.png);
				background-repeat: no-repeat;
				background-position: 6px 17px;

			}

	#course {
		position: relative;
		bottom: 90px;
		color: rgb(245, 245, 245);
		left: 263px;
		font-size: 20pt;
		width: 500px;
	}

		#course a {
			color: inherit;
			text-decoration: inherit;
		}

	#sign {
		position: relative;
		bottom: 78px;
		left: 827px;
		padding-right: 2px;
		padding-left: 2px;
		display: inline;

	}

	#sign a {
		color: white;
		text-decoration: none;
		background-color: #331b6f;
		border: 1px solid #4c3782;
		text-transform: uppercase;
		font: 11px/12px "Trebuchet MS" !important;
		padding: 6px 12px;
		letter-spacing: 1px;
	}

#footer {
	background-color: #3d2480;
	color: #f3f1c6;
	text-transform: uppercase;
	/*border-top-color:#453384;*/
	clear: both;
	padding: 1.5em 0 1em 0;
}