{% extends 'BioPublicBundle:Template:rowForm.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/bioinfo/css/form_extension.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	<table>
		<thead>
			<tr>
				<th>Status</th>
				<th>Text</th>
				<th>Timestamp</th>
				<th>Expiration</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>

		<tbody>

		</tbody>
		<tfoot>
			<tr>
				<td colspan=6 class="link add lonely">add announcement</td>
			</tr>
		</tfoot>
	</table>
{% endblock %}

{% block java %}
	<script>
	var loader = new Loader({
		'url': '{{ url('main_page')}}crud/',
		'bundle': 'info',
		'entity': 'announcement',
		'table' : {
			'sortFn': function(ob1, ob2) {
				return ob1.data.timestamp > ob2.data.timestamp;
			}
		},
		'columns': {
			'status': function(value, cell) {
				cell.parentNode.classList.add(value);
				return value;
			},
			'text': function(value, cell) {
				cell.title = value;
				return value.slice(0, 100) + (value.length > 100?'...':'');
			},
			'timestamp': function(value, cell, parser) {
				return parser.datetime(new Date(value*1000));
			},
			'expiration': function(value, cell, parser) {
				return parser.datetime(new Date(value*1000));
			}
		}
	}); </script>
{% endblock %}