{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
	{{ parent() }}

	{% stylesheets 'bundles/biofolder/css/folder.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
<ul>
	{% include 'BioFolderBundle:Default:structure.html.twig' with {'root' : root, 'selected' : selected} %}
</ul>
<div id="folder">
	<h2>Add Folder</h2>
	{{ form(folderForm) }}
</div>
<div id="file">
	<h2>Add File</h2>
	{{ form(fileForm) }}
</div>

{% endblock %}
