{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/biotrip/css/trip.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	<div>{{global.instructions|raw}}</div>

	<h2 style="margin-bottom:0px;">Your Trips</h2>
	{% for trip in current %}
		{% include 'BioTripBundle:Public:tripTemplate.html.twig' with {'cur':'current'} %}
	{% else %}
	<div class="trip">
		<h3>No trips</h3>
		<p>You are not signed up for any trips.</p>
	</div>
	{% endfor %}

	<h2 style="margin-bottom:0px;">Future Trips</h2>
	{% for trip in trips %}
		{% include 'BioTripBundle:Public:tripTemplate.html.twig' with {'cur':''} %}
	{% else %}
		<div class="trip">
			<h3>No trips</h3>
			<p>Check back soon for more trips.</p>
		</div>
	{% endfor %}

{% endblock %}