{% extends 'BioPublicBundle:Default:logoutmain.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/biotrip/css/trip.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	<div id="submit">
		{{form(form)}}
	</div>

	{{parent()}}
{% endblock %}