#scroller{
	overflow: scroll;
	height: 650px;
	width: 90%;
	margin: 10px auto;
	box-shadow: 2px 2px 15px;
	border: solid white 2px;
	border-radius: 5px;
}

#scroller table {
	width: auto;
	margin:0px;
}

#scroller th, #scroller td {
	min-width: 75px;
}

#scroller td {
	border-right-width: 1px;
	border-right-style: solid;
}