.trip {
	border-top: solid 3px #A591D9;
	padding: 10px;
}

.space {
	margin-top: 20px;
}

.passed {
	opacity: .5;
}

.current {
	background-color: rgb(200, 256, 200);
}

.current.passed {
	opacity: 1;
	background-color: rgb(235, 356, 235);
}

.current.passed * {
	opacity: .5;
}

.current.passed .eval {
	opacity: 1;
	font-size: 12pt;
}

.trip h2 {
	float:right;
}

.trip h2:first-child {
	float:left;
}

.trip p {
	clear:both;
}

.trip .center {
	text-align:center;
}

.trip a {
	float:right;
	padding-right:4px;
}

.trip a:first-of-type {
	float:left;
}

.trip .eval {
	opacity: 1;
}

#add, .delete, #multiple {
	cursor:pointer;
	text-decoration:underline;
	color: rgb(0, 0, 238);
}

table .text {
	padding: 1px !important;
}

table textarea {
	width: 500px;
	resize:none;
	height: 55px;
	padding: 7px;
}

table div label {
	display:block;
	float:left;
	width: 100px;
	text-align:right;
	padding-right: 15px;
}

table div {
	margin: 10px;
}

table div input[type=text] {
	width: 320px;
}

#submit textarea {
	width: 75%;
}

#submit select {

}

#submit label {
	float:none !important;
	width: auto !important;
	text-align:left !important;
}

#submit .horizontal input[type=radio] {
	float:left !important;
	margin-top: 20px;
}

#submit .horizontal label {
	float: left !important;
	position: relative;
	top: 13px;
	right: 10px;
	margin-top: 20px;
}

.horizontal {
	margin-bottom: 40px !important;
	clear:both;
}

.horizontal input:first-of-type {
	clear:left;
}

#content > form #form textarea {
	width: 90%;
}