#content ul ul {
	margin-left: 20px;
}

#content ul {
	padding-left: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 0px;
	line-height: 2em;
	background-color: rgba(0, 0, 0, .1);
	border-radius: 5px;
}

.folder {
	list-style-image: url('../images/folder.png');
}

.file {
	list-style-image: url('../images/file.png');
}

.folder.private {
	list-style-image: url('../images/folder_private.png');
}

.empty:after {
	content: '  -empty';
	font-size: 8pt;
	opacity: .3;
}

#selected a {
	font-weight: bolder;
	text-decoration: underline;
}

#selected:after {
	content: '  -selected';
	font-size: 8pt;
	opacity: .3;
	text-decoration: none !important;
}

#content ul a {
	color: rgb(0, 0, 238)
}

#content span {
	float:right;
	padding-right: 15px;
}


#folder, #file {
	float: left;
	width: 350px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#folder {
	margin-right: 10px;
}

#folder label, #file label {
	width: 50px !important;
}

#form > div:last-of-type {
	margin-left: 150px !important;
}