{% extends 'BioExamBundle:Public:main.html.twig' %}

{% block content %}
		<p>Your answers have been saved. Stay on this page to be randomly assigned someone elses practice test. Lets talk a lot longer about how this thing works. How long you have, how many points to give or to not give a person. Etc... Talky talky talky talky talky Talk about the rubric, and how awesome they guy who made this is. When the button appears, press it to begin grading.</p>

		<div id="submit">
			<form id="button" method="POST" action="" style="display:none">
				<button>Grade</button>
			</form>
			<div id="loadMessage">
				Finding test to grade<br />This could take several minutes
				{% image 'bundles/bioexam/images/ajax-loader.gif' output='images/*.png' %}
					<div id="loader" style="background-image:url('{{asset_url}}')"></div>
				{% endimage %}
			</div>
		</div>
		{{parent()}}
		{% if taker.grading != null or taker.graded|length != 0 %}
			{% include 'BioExamBundle:Public:timer.html.twig' with {'duration':exam.gDuration, 'end':date(exam.gDate|date('Y-m-d ') ~ exam.gEnd|date('H:i:s'))|date('U'), 'start':taker.timecard[5]|date('U')} only %}
		{% endif %}
{% endblock %}

{% block java %}
	<script>
	function Checker() {
		this.check = function() {
			var ajax = new XMLHttpRequest();
			ajax.open('POST', '{{ url("check") }}', true);
			ajax.setRequestHeader("Content-type","application/x-www-form-urlencoded");
			self = this;
			ajax.onload = function() {
				var response = JSON.parse(this.responseText);
				if (!response.success) {

				} else {
					clearInterval(self.interval);
					document.getElementById('loadMessage').style.display="none";
					document.getElementById('button').style.display = "block";
				}
			};
			ajax.send("a={{taker.id}}");
		}
		this.interval = setInterval(
				(function(self) {
					return function() {
						self.check();
					}
				})(this), 30000);
		this.check();
	}
	new Checker();
	</script>
{% endblock %}
