{% extends 'BioPublicBundle:Template:rowForm.html.twig' %}

{% block content %}
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>When</th>
				<th>Where</th>
				<th>Edit</th>
			</tr>
		</thead>

		<tbody>
			
		</tbody>

		<tfoot>
			<tr>
				<td colspan=6 class="link add lonely">add course section</td>
			</tr>
		</tfoot>
	</table>
{% endblock %}

{% block java %}
	<script>
	var loader = new Loader({
		'url': '{{ url('main_page')}}crud/',
		'bundle': 'info',
		'entity': 'courseSection',
		'container' : {
			'sortFn': function(ob1, ob2) {
				return ob1.data.name < ob2.data.name;
			}
		},
		'buttons': {
			'delete': undefined
		},
		'columns': {
			'name': null,
			'days': function(v, cell) {
				var value = [];
				for (key in v) {
					value[value.length] = v[key];
				}
				return value.join(', ')?value.join(', ').toUpperCase() + ': ':'';
			},
			'start_time': function(value, cell, parser) {
				cell.previousSibling.innerHTML = cell.previousSibling.innerHTML + parser.time(new Date(value*1000)) + ' - ';
				return undefined;
			},
			'end_time': function(value, cell, parser) {
				cell.previousSibling.innerHTML = cell.previousSibling.innerHTML + parser.time(new Date(value*1000));
				return undefined;
			},
			'bldg': null,
			'room': function(value, cell) {
				cell.previousSibling.innerHTML = cell.previousSibling.innerHTML + ' #' + value;
				return undefined;
			}
		}
	}); </script>
{% endblock %}