{% extends 'BioPublicBundle::main.html.twig' %}

{% block content %}
	<form action="{{ internal('login_check') }}" method="POST">
		<div id="form">
			<div>
				<label for="form_username" class="required">Username:</label>
				<input type="text" id="form_username" name="_username" value="{{last_username}}" required="required">
			</div>
			<div>
				<label for="form_password" class="required">Password:</label>
				<input type="password" id="form_password" name="_password" required="required">
			</div>
			<div>
				<label style="height:1px"></label>
				{#<a href="{{ internal('register') }}">create account</a>&emsp;#} <a href="{{ internal('user_reset') }}">forgot password</a>
			</div>
			<div>
				<button type="submit" id="form_login" name="form[login]">Login</button>
			</div>
		</div>
	</form>
{% endblock %}