{% extends 'BioPublicBundle::main.html.twig' %}

{% block content %}
	<div class="form_layer">
		<div class="form_container">
			<div class="form_scroller">
				{{ form(form) }}
			</div>
			<div class="form_exit"></div>
		</div>
	</div>

	<table>
		<thead>
			<tr>
				<th>Person</th>
				<th>Days</th>
				<th>Start</th>
				<th>End</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
		<tfoot>
			<tr>
				<td colspan=6 class="link add lonely">add hours</td>
			</tr>
		</tfoot>	
	</table>
{% endblock %}

{% block java %}
	<script>
	var loader = new Loader({
		'url': '{{ url('main_page')}}crud/',
		'bundle': 'info',
		'entity': 'hours',
		'table' : {
			'sortFn': function(dataA, dataB) {
				return dataA.person.f_name > dataB.person.f_name;
			}
		},
		'columns': {
			'person': function(value, cell) {
				return value.f_name + ' ' + value.l_name;
			},
			'days': null,
			'start': function(value, cell, parser) {
				return parser.time(new Date(value*1000));
			},
			'end': function(value, cell, parser) {
				return parser.time(new Date(value*1000));
			}
		}
	}); </script>
{% endblock %}